<nav class="navbar" th:fragment="navbar">
    <div class="navbar-left"><a href="/">
        <img src="/images/logo.png" alt="Bilabonnement.dk Logo" class="logo">
    </a>
        <a href="/" class="title">Bilabonnement</a>
    </div>

    <div class="navbar-right">
        <a href="/salg_og_udlejning" class="nav-link">Dataregistrering</a>
        <a href="/skadeshåndtering" class="nav-link">Skade & udbedring</a>
        <a href="/statistik" class="nav-link">Forretningsudviklere</a>
    </div>
</nav>

