<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/Styles.css">
    <link rel="icon" type="image/png" href="/images/logo.png">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="role-description">
    <a href="opret_bil" class="role-box">
        <h2>Opret en ny bil</h2>
        <p>Tilføj en ny bil klar til udlejning</p>
    </a>
    <a href="opret_lejekontrakt" class="role-box">
        <h2>Opret ny lejekontrakt</h2>
        <p>Opret en ny lejekontrakt for udlejning af biler.</p>
    </a>
    <a href="opret_lejer" class="role-box">
        <h2>Opret Ny Lejer</h2>
        <p>Registrér en ny lejer i systemet.</p>
    </a>
</div>
</body>
</html>