
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/Styles.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<h1><b>Statistik: Dashboard</b></h1>

<p>Gennemsnitlig salgstid af biler efter de kommer retur:</p>

<p th:text="${#numbers.formatDecimal(avgSalesTime, 1, 0)} + ' dage'"></p>


<table class="styled-table">
    <thead>
    <tr>
        <th>Vognnr.</th>
        <th>Dato retur</th>
        <th>Salgsdato</th>
        <th>Salgstid</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${soldCarsDates}">
        <td th:text="${car[0]}"></td>
        <td th:text="${car[1]}"></td>
        <td th:text="${car[2]}"></td>
        <td th:text="${car[3]}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>