<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Opret Lejer</title>
    <link rel="stylesheet" href="/Styles.css">
    <link rel="icon" type="image/png" href="/images/logo.png">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<h1>Opret en lejer</h1>

<form action="/opret_lejer" method="post" class="create-form">
    <h2>Lejer Information</h2>

    <div class="form-group">
        <label for="firstName">Fornavn:</label>
        <input type="text" id="firstName" name="firstName" placeholder="f.eks. Adrian">

        <label for="lastName">Efternavn:</label>
        <input type="text" id="lastName" name="lastName" required placeholder="f.eks. Mortensen">

        <label for="address">Adresse:</label>
        <input type="text" id="address" name="address" required placeholder="f.eks. Persillehaven">

        <label for="zipCode">Postnummer:</label>
        <input type="text" id="zipCode" name="zipCode" required placeholder="f.eks. 2730">

        <label for="city">By:</label>
        <input type="text" id="city" name="city" required placeholder="f.eks. København">

        <label for="country">Land:</label>
        <input type="text" id="country" name="country" required placeholder="f.eks. Danmark">

        <label for="phoneNumber">Telefonnummer:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" required placeholder="f.eks. 12345678">

        <label for="cpr">CPR-Nummer:</label>
        <input type="text" id="cpr" name="cpr" required placeholder="f.eks. xxxxxx-xxxx">

        <label>
            <input type="checkbox" name="blacklist"> Sortliste
        </label>
    </div>

    <div class="multiple-button-container">
        <button class="save-button" type="submit" onclick="return confirm('Er du sikker på at du vil gemme lejeren?');">Gem Lejer</button>
    </div>
</form>

</body>
</html>