<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Opret en lejer </h1>
<form class="createRenter" action="/opret_lejer" method="post">
    <h2>Lejer Information</h2>
    <label>Fornavn</label>
    <input type="text" name="firstName" required placeholder="f.eks Adrian"><br>
    <label>Efternavn</label>
    <input type="text" name="lastName" required placeholder="f.eks. Mortensen"><br>
    <label>Adresse</label>
    <input type="text" name="address" required placeholder="f.eks. Persillehaven"><br>
    <label>Postnummer</label>
    <input type="text" name="postalCode" required placeholder="f.eks. 2730"><br>
    <label>By</label>
    <input type="text" name="city" required placeholder="f.eks. København"><br>
    <label>Telefonnummer</label>
    <input type="text" name="phoneNumber" required placeholder="f.eks. +45 xx xx xx xx"><br>
    <label>CPR nummer</label>
    <input type="text" name="cpr" required placeholder="f.eks. xxxxxx-xxxx"><br>
    <label>Blacklist</label>
    <input type="checkbox" name="blacklist"><br>
    <input type="checkbox" name="blacklist"><br>

    <!-- Checkbox for bekræftelse -->
    <label>
        <input type="checkbox" name="signed" required> Jeg bekræfter hermed
    </label><br>

    <!-- Submit-knap -->
    <input type="submit" value="Tilføj Lejer" class="submit-button">
</form>

<!-- Checkbox for bekræftelse
<div class="????">
    <h2>Signature</h2>
    <div class="????">
        <label>
            <input type="checkbox" name="signed" required> Jeg bekræfter hermed
        </label>
    </div>
</div>

     Knapper
<div class="createRenter">
    <form action="/" method="POST" onsubmit="return confirm('Rental contract saved! Do you want to proceed?');">
        <button type="submit">Save Rental Contract</button>
    </form>
</div>
-->
</body>
</html>