<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret Lejer</title>
    <link rel="stylesheet" href="/Styles.css">
</head>
<body>

<nav class="navbar">
    <div class="navbar-left">
        <a href="/" class="title">Bilabonnement.dk</a>
    </div>
    <div class="navbar-right">
        <button class="logout-button">Log Out</button>
    </div>
</nav>

<h1>Opret en lejer </h1>

<form action="/opret_lejer" method="post" class="create-form">
    <h2>Lejer Information</h2>
    <div class="form-group">
        <label>Fornavn: <input type="text" name="firstName" placeholder="f.eks Adrian"></label>
    </div>
    <div class="form-group">
        <label>Efternavn: <input type="text" name="lastName" required placeholder="f.eks. Mortensen"></label>
    </div>
    <div class="form-group">
        <label>Adresse: <input type="text" name="address" required placeholder="f.eks. Persillehaven"></label>
    </div>
    <div class="form-group">
        <label>Postnummer: <input type="text" name="zipCode" required placeholder="f.eks. 2730"></label>
    </div>
    <div class="form-group">
        <label>By: <input type="text" name="city" required placeholder="f.eks. København"></label>
    </div>
    <div class="form-group">
        <label>By: <input type="text" name="country" required placeholder="f.eks. Jylland"></label>
    </div>
    <div class="form-group">
        <label>Telefonnummer: <input type="tel" name="phoneNumber" required placeholder="f.eks. +45 xx xx xx xx"></label>
    </div>
    <div class="form-group">
        <label>CPR-Nummer: <input type="text" name="cpr" required placeholder="f.eks. xxxxxx-xxxx"></label>
    </div>
    <div class="form-group">
        <label>Blacklist: <input type="checkbox" name="blacklist"></label>
    </div>


    <!-- Bekræftelse -->
    <div class="signature">
        <h2>Signatur</h2>
        <div class="form-group">
            <label>
                <input type="checkbox" name="signed" required> Jeg bekræfter hermed
            </label>
        </div>
    </div>
<!-- Knapper -->
    <div class="button-container">
        <button type="submit" onclick="return confirm('Er du sikker på at du vil gemme lejeren?');">Gem Lejer</button>
    </div>
</form>
</body>
</html>