<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Opret en bil</h1>

<!-- Biloplysninger-->
<form class="createCar" action="/opret_bil" method="post">
    <h2>Bil Information</h2>
    <label>Bilmærke:</label>
    <input type="text" name="carBrand" required placeholder="f.eks. honda"><br>
    <label>Bilmodel:</label>
    <input type="text" name="carModel" required placeholder="f.eks. civic"><br>
    <label>Udstyrsniveau:</label>
    <input type="text" name="equipmentLevel" required placeholder="f.eks Standard"><br>
    <label>VIN:</label>
    <input type="text" name="vin" required placeholder="f.eks. H283HCS231H8JX2G"><br>
        <input type="checkbox" name="signed" required> Jeg bekræfter hermed, at informationen er korrekt.
    </label><br>
    <input type="submit" value="Tilføj bil" class="submit-button">
</form>
<!-- Checkbox for bekræftelse
<div class="????">
    <h2>Signature</h2>
    <div class="????">
        <label>
            <input type="checkbox" name="signed" required> Jeg bekræfter hermed
        </label>
    </div>
</div>-->

<!-- Knapper -->
<div class="????">
    <form action="/" method="POST" onsubmit="return confirm('Er du sikker på at du vil gemme bilen?');">
    </form>
</div>
</body>
</html>