<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>G1.Skadejournal detaljer</title>
    <link rel="stylesheet" href="/Styles.css">
    <link rel="icon" type="image/png" href="/images/logo.png">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<h1>Skadejournal</h1>

<div style="width: 50vw; margin: 0 auto;">
<h2>Skade information</h2>
  <table class="styled-table normal-pointer">
    <thead>
    <tr>
      <th>Nr.</th>
      <th>Beskrivelse</th>
      <th>K1 - K5</th>
      <th>Pris</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="damage, index : ${damageReport.getDamageList()}">
      <td th:text="${index.count}"></td>
      <td th:text="${damage.damageDescription}"></td>
      <td th:text="${damage.classification}"></td>
      <td th:text="${damage.price}"></td>
      <td class="no-background">
        <form action="/skadejournal_detaljer" method="post">
          <input type="hidden" name="vehicleNumber" th:value="${damageReport.carVehicleNumber}">
          <button class=action-button name="id" th:value="${damage.id}">Slet</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

  <div class="summary">
    <div th:text="'Kilometerstand: ' + ${mileage} + ' km'"></div>
    <div th:text="'Samlet pris: '+${totalPrice} + ' kr'"></div>
  </div>
</body>
</html>