<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>G1.Skadejournal detaljer</title>
</head>
<body>

<nav class="navbar">
  <div class="navbar-left">
    <a href="/" class="title">Bilabonnement.dk</a>
  </div>
  <div class="navbar-right">
    <button class="logout-button">Log ud</button>
  </div>
</nav>

<h1>Skadejournal</h1>

  <h2>Skade information</h2>

  <table class="styled-table">
    <thead>
    <tr>
      <th>Nr.</th>
      <th>Beskrivelse</th>
      <th>K1 - K5</th>
      <th>Pris</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="i: ${#numbers.sequence(1,10)}">
      <td th:text="${i}"></td>
      <td><input type="text" th:name="'beskrivelse' + ${i}" placeholder="Indtast beskrivelse" ></td>
      <td>
        <select th:name="'k' + ${i}">
          <option value="k1">K1</option>
          <option value="k2">K2</option>
          <option value="k3">K3</option>
          <option value="k4">K4</option>
          <option value="k5">K5</option>
        </select></td>
      <td><input type="number" step="0.01" min=0 th:name="'pris' + ${i}" placeholder="Indtast pris" ></td>
    </tr>
    </tbody>
  </table>

  <div class="summary">
    <div>Samlet pris:</div>
    <div id="totalPrice">0</div>
  </div>

  <div class="multiple-button-container">
    <button class="save-button" type="submit" onclick="return confirm('Er du sikker på at du vil oprette denne skadejournal?');">Opret</button>
  </div>
</form>

</body>
</html>