<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Statistik og Rapporter</title>
  <link rel="stylesheet" href="/Styles.css">
  <link rel="icon" type="image/png" href="/images/logo.png">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>


<div class="content-container single-section">
  <div class="section">
    <h2 class="section-title">Statistik og rapporter</h2>
    <ul class="link-list">
      <li><a href="vis_alle_biler">Alle biler</a></li>
      <li><a href="vis_alle_lejere">Alle lejere</a></li>
      <li><a href="vis_alle_lejekontrakter">Alle lejekontrakter</a></li>
      <li><a href="vis_alle_salgskontrakter">Alle salgskontrakter</a></li>
      <li><a href="omsaetning_aar_til_dato">Salg år-til-dato</a></li>
      <li><a href="dashboard">Dashboard</a></li>
      <li><a href="/">Tilbage til hovedmenu</a></li>
    </ul>
  </div>
</div>
</body>
</html>