<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skadejournal</title>
</head>
<body>
<h2>Skadejournaler</h2>

<!-- Vis bilens detaljer -->
<p>Bil: <span th:text="${rentalContractDetails.rentalCar.carBrand} + ' ' + ${rentalContractDetails.rentalCar.carModel}"></span></p>
<p>Vognnummer: <span th:text="${rentalContractDetails.rentalCar.vehicleNumber}"></span></p>

<!-- Vis skadejournaler -->
<table>
    <thead>
    <tr>
        <th>Nr.</th>
        <th>Beskrivelse</th>
        <th>Alvorlighed (K1-K5)</th>
        <th>Pris</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="report, iterStat : ${damageReports}">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${report.damageDescription}"></td>
        <td th:text="${report.classification}"></td>
        <td th:text="${report.price}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>