
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Udlejede Biler</title>
    <link rel="stylesheet" href="/Styles.css">
</head>
<body>
<nav class="navbar">
    <div class="navbar-left">
        <a href="/" class="title">Bilabonnement.dk</a>
    </div>
    <div class="navbar-right">
        <button class="logout-button">Log Out</button>
    </div>
</nav>

<h1><b>Udlejede biler</b></h1>

<form method="GET">
    <label>
        Søg efter reg. nr.
        <input type="text" name="regNumber">
    </label>
    <input type="submit" value="Søg">
</form>

<table class="styled-table">
    <thead>
    <tr>
        <th>Registreringsnummer</th>
        <th>Mærke</th>
        <th>Model</th>
        <th>Afleveringsdato</th>
    </tr>
    </thead>
    <tbody>
    <tr data-url="/lejedetaljer?regNumber=null" onclick="window.location.href=this.dataset.url">
        <td>REG24531</td>
        <td>Ford</td>
        <td>Focus</td>
        <td>2024-12-10</td>
    </tr>
    <tr data-url="/lejedetaljer?regNumber=null" onclick="window.location.href=this.dataset.url">
        <td>REG54321</td>
        <td>Tesla</td>
        <td>Model 3</td>
        <td>2024-12-15</td>
    </tr>
    <tr data-url="/lejedetaljer?regNumber=null" onclick="window.location.href=this.dataset.url">
        <td>REG12345</td>
        <td>Toyota</td>
        <td>Corolla</td>
        <td>2024-12-20</td>
    </tr>
    </tbody>
</table>

</body>
</html>