
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Udlejede Biler</title>
    <link rel="stylesheet" href="/Styles.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<h1><b>Udlejede biler</b></h1>

<form method="GET">
    <label>
        Søg efter reg. nr.
        <input type="text" name="regNumber">
    </label>
    <input type="submit" value="Søg">
</form>

<table class="styled-table">
    <thead>
    <tr>
        <th>Registreringsnummer</th>
        <th>Mærke</th>
        <th>Model</th>
        <th>Afleveringsdato</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rentalContract : ${rentalContracts}" th:data-url="@{'/lejedetaljer?regNumber=' + ${rentalContract.registrationNumber}}" th:onclick="|window.location.href=this.dataset.url|">
        <td th:text="${rentalContract.registrationNumber}"></td>
        <td th:text="${rentalContract.rentalCar.carBrand}"></td>
        <td th:text="${rentalContract.rentalCar.carModel}"></td>
        <td th:text="${rentalContract.returnDate}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>