<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vis alle biler</title>
    <link rel="stylesheet" href="/Styles.css">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<h1>Statistik: Alle biler</h1>

<table class="styled-table">
    <thead>
    <tr>
        <th>Vognnummer</th>
        <th>Mærke</th>
        <th>Model</th>
        <th>Udstyrsniveau</th>
        <th>Stelnr.</th>
        <th>Bilstatus</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="oneCarDetail : ${allCarDetails}">
        <td th:text="${oneCarDetail.vehicleNumber}"></td>
        <td th:text="${oneCarDetail.carBrand}"></td>
        <td th:text="${oneCarDetail.carModel}"></td>
        <td th:text="${oneCarDetail.equipmentLevel}"></td>
        <td th:text="${oneCarDetail.vin}"></td>
        <td th:text="${oneCarDetail.rentalStatus}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>