<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vis alle biler</title>
    <link rel="stylesheet" href="/Styles.css">
    <link rel="icon" type="image/png" href="/images/logo.png">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<h1>Statistik: Alle lejere</h1>

<table class="styled-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>CPR</th>
        <th>Navn</th>
        <th>Adresse</th>
        <th>Postnr. og by</th>
        <th>Land</th>
        <th>Telefonnr.</th>
        <th>Blacklist</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="oneRenterDetail : ${allRenterDetails}">
        <td th:text="${oneRenterDetail.id}"></td>
        <td th:text="${oneRenterDetail.cpr}"></td>
        <td th:text="${oneRenterDetail.firstName} + ' ' + ${oneRenterDetail.lastName}"></td>
        <td th:text="${oneRenterDetail.address}"></td>
        <td th:text="${oneRenterDetail.zipCode} + ' ' + ${oneRenterDetail.city}"></td>
        <td th:text="${oneRenterDetail.country}"></td>
        <td th:text="${oneRenterDetail.phoneNumber}"></td>
        <td th:text="${oneRenterDetail.blacklist ? 'Ja' : 'Nej'}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>